<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>URLMS - Inventory</title>
</head>
<body>
	<h1 align="center"><a href="../index.php" style="color: black;text-decoration: none;">University Research Lab Management System</a></h1>
	<h2 align="center">Inventory</h2>
		<br><br>
		<form action="../controller/InventoryController.php" method="get">
			<br>
			<h3>View Inventory List</h3>
			<input type="hidden" name="action" value="9/10" />
 			<input type="submit" value="View Inventory!" />
 			<br>
		</form>
		
		<form action="../controller/InventoryController.php" method="get">
			<br>
			<h3>Add Inventory Item</h3>
			<input type="hidden" name="action" value="10/10" />
			<input type="text" name="newInventoryName" value=""/>Name<br>
			<input type="text" name="category" value=""/>Category<br>
			<input type="radio" name="type" value="Equipment"/>Equipment <br>
			<input type="radio" name="type" value="Supply"/>Supply <br>
 			<input type="submit" value="Add inventory!" />
 			<br>
		</form>
		
		<form action="../controller/InventoryController.php" method="get">
			<br>
			<h3>Remove Inventory Item</h3>
			<input type="hidden" name="action" value="11/10" />
			Name: <input type="text" name="oldInventoryName" value=""/>
	<!-- 	<p>ID: </p><input type="text" name="oldstaffid" value=""/> -->
 			<input type="submit" value="Remove inventory!" />
 			<br>
		</form>
		
		<form action="../controller/InventoryController.php" method="get">
			<br>
			<h3>View Inventory Item</h3>
			<input type="hidden" name="action" value="12/10" />
			Name: <input type="text" name="inventoryName" value=""/>
	<!-- 	<p>ID: </p><input type="text" name="inventoryId" value=""/> -->
 			<input type="submit" value="View inventory!" />
 			<br>
		</form>
		
		<form action="../controller/InventoryController.php" method="get">
			<br>
			<h3>Edit Inventory Item</h3>
			<input type="hidden" name="action" value="8/10" />
			Name of inventory item you want to edit: <input type="text" name="editInventoryName" value=""/><br>
	<!-- 	<p>ID: </p><input type="text" name="editInventoryId" value=""/> -->
			<br>
			New name: <input type="text" name="editedInventoryName" value=""/><br>				
			New cost: <input type="text" name="editedInventoryCost" value=""/><br>
			New category: <input type="text" name="editedInventoryCat" value=""/><br>
 			<input type="submit" value="Edit inventory!" />
 			<br>
		</form>
		
		<br>
	<a href="../index.php">Back to homepage</a>

</body>
</html>