<html>
	<head>
		<title>URLMS - Staff</title>
	</head>
	<body>
		<h1 align="center"><a href="../index.php" style="color: black;text-decoration: none;">University Research Lab Management System</a></h1>
		<h2 align="center">Staff</h2>
		<br><br>
		<form action="controller/controller.php" method="get">
			<br>
			<h3>View Staff List</h3>
			<input type="hidden" name="action" value="9/10" />
 			<input type="submit" value="View Staff!" />
 			<br>
		</form>
		
		<form action="controller/controller.php" method="get">
			<br>
			<h3>Add Staff Member</h3>
			<input type="hidden" name="action" value="10/10" />
			<input type="text" name="newstaffname" value=""/>
 			<input type="submit" value="Add staff!" />
 			<br>
		</form>
		
		<form action="controller/controller.php" method="get">
			<br>
			<h3>Remove Staff Member</h3>
			<input type="hidden" name="action" value="11/10" />
			<p>Name: </p><input type="text" name="oldstaffname" value=""/><br>
			<p>ID: </p><input type="text" name="oldstaffid" value=""/>
 			<input type="submit" value="Remove staff!" />
 			<br>
		</form>
		<br>
		<a href="../index.php">Back to homepage</a>
	</body>
<html/>
